@use '../utils/shared' as *;

.Card{
    background-color: transparent !important;
    border: 4px solid $primary-color;
    width: 300px;
    .Restar{
        color: $tertiary-color;
    }
    .Cantidad{
        color: $tertiary-color;
    }
    .Sumar{
        color: $tertiary-color;
    }
    .Añadir{
        color: $tertiary-color;
    }
    .Descripcion{
        color: $tertiary-color !important;
    }
    .VerMas{
        color: $tertiary-color;
    }
}