@use '../utils/shared' as *;

.Card{
    background-color: transparent !important;
    border: 4px solid $primary-color;
    width: 300px;
}
.Restar{
    color: $fourth-color !important;
    border: none !important;
}
.Sumar{
    color: $primary-color !important;
    border: none !important;
}
.Añadir{
    margin-left:30% !important;
    background-color: $primary-color !important;
    color: $tertiary-color !important;
    border: none !important;
    border-radius: 10% !important;
}