@use '../utils/shared' as *;

.ImgWpsContainer {
    background-color: #25D366;
    border-radius: 100%;
    bottom: 3rem;
    box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: fixed;
    right: 3rem;
    transition: all 0.3s ease;
    z-index: 1;
}
.ImgWpsContainer:hover {
    transform: scale(1.1);
}
.img-wps {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
}